* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button,
.hero-site button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 20px;
}

/* Inserindo o estilo no header */
header {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 40px;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .hero-site button:hover{
    background-color: #fff;
    color: #000;
}

/* Estilo do hero do site */
section.hero-site {
    height: 96vh;
    background-image: url(../images/paisagem-edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}